.root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
  padding: 100px;

  .app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

.logo {
  position: absolute;
  top: 5vh;
  left: 5vw;
  font-size: 50px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 1px #00662B;
  letter-spacing: 2px;
  line-height: 60px;

  & span:nth-of-type(2) {
    margin-left: 90px;
  }
  //text-transform: uppercase;
}